<head>
  <style>
    p {
        color: #fff;
        background-color: #343a40;
        text-align: center;
        padding: 15px;
        margin-bottom: 0px;
        font-size: 150%;
        font-weight: bold;
    }

    #holiday {
      position: absolute;
      top: 10px;
      right: 15px;

    }
    #home {
      position: absolute;
      top: 10px;
      left: 15px;
    }
    #home, #holiday {
      padding-left: 1rem!important;
      padding-right: 1rem!important;
    }
  </style>
</head>

<p>Holidays</p>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">date</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @holidays.each do |holiday| %>
      <tr>
        <td scope="row"><%= holiday.id %></td>
        <td><%= holiday.name %></td>
        <td><%= holiday.date %></td>
        <% if  current_user.type == 'Hr' %>
        <td><%= link_to "View", holiday_path(holiday) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= button_to "Create Holidays", new_holiday_path, method: :get, class: "btn btn-outline-light btn-lg px-5", id: 'holiday' if current_user.type == 'Hr' %>
<%= button_to "Home",root_path, method: :get, class: "btn btn-outline-light btn-lg px-5", id: 'home' %>

<div style = "color:Green"> <%= flash[:created] %> </div>
