<h1>History#index</h1>
<head>
  <style>
    table {
      border: 1px solid black;
    }
    th {
      border: 1px solid black;
    }
    td {
      border: 1px solid black;
    }
  </style>
</head>
<table style="border: 1px solid black;  ">
  <thead>
    <tr>
      <th>start_date</th>
      <th>end_date</th>
      <th>leave_type</th>
      <th>reason</th>
      <th>status</th>
      <th>days</th>
      <th>Employee Id</th>
    </tr>
  </thead>
  <tbody>
    <% @leave_request.each do |leave_request| %>
      <tr>
        <td><%= leave_request.start_date %></td>
        <td><%= leave_request.end_date %></td>
        <td><%= leave_request.leave_type %></td>
        <td><%= leave_request.reason %></td>
        <td><%= leave_request.status %></td>
        <td><%= leave_request.days %></td>
        <td><%= leave_request.user_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= button_to "Home",home_path, method: :get %>
