
<head>
  <style>
    p {
        color: #fff;
        background-color: #343a40;
        text-align: center;
        padding: 15px;
        margin-bottom: 0px;
        font-size: 150%;
        font-weight: bold;
    }
    #home {
      position: absolute;
      top: 10px;
      left: 15px;
      padding-left: 1rem!important;
      padding-right: 1rem!important;
    }
  </style>
</head>

<p>Leave Requests</p>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">Leave Type</th>
      <th scope="col">Reason</th>
      <th scope="col">Status</th>
      <th scope="col">Days</th>
      <th scope="col">Employee Id</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @leave_requests.each do |leave_request| %>
      <tr>
        <td scope="row"><%= leave_request.id %></td>
        <td><%= leave_request.start_date %></td>
        <td><%= leave_request.end_date %></td>
        <td><%= leave_request.leave_type %></td>
        <td><%= leave_request.reason %></td>
        <td><%= leave_request.status %></td>
        <td><%= leave_request.days %></td>
        <td><%= leave_request.user_id %></td>
        <td><%= link_to "Accept","/approve/#{leave_request.id}", method: :get %> </td>
        <td><%= link_to "Reject", "/reject/#{leave_request.id}", method: :get %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= button_to "Home", root_path, method: :get, id: 'home', class: "btn btn-outline-light btn-lg px-5" %>

<% if flash[:notice] %>
  <div style = "color:red"> <%= flash[:notice] %> </div>
<% elsif flash[:approved] %>
  <div style = "color:green"> <%= flash[:approved] %> </div>
<% elsif flash[:rejected] %>
  <div style = "color:green"> <%= flash[:rejected ] %> </div>
<% end %>
