<td><%= @leave_request.start_date %></td>
<td><%= @leave_request.end_date %></td>
<td><%= @leave_request.leave_type %></td>
<td><%= @leave_request.reason %></td>
<td><%= @leave_request.status %></td>
<td><%= @leave_request.days %></td>
<td><%= @leave_request.user_id %></td>
