<h1>Users#edit</h1>
<%= form_with model: @employee, url: "/users/#{@current_user.id}", method: :patch do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %> <br><br>
  <%= form.label :password %>
  <%= form.text_field :password %> <br><br>
  <%= form.submit 'Update' %>
<% end %>
