<style>

  body {
    background-color: lightcyan;
  }

  .navbar {
    background-color: #343a40;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .navbar-title {
    font-size: 24px;
    margin: 0;
    font-size: 35px;
  }

  .navbar-buttons {
    display: flex;
    gap: 10px;
  }

  #btn {
    padding-left: 1rem!important;
    padding-right: 1rem!important;
  }

  #emp {
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
  }

  p {
    margin-left: 110px;
    margin-top: 0px;
    margin-bottom: 0rem;
  }

  span {
    font-weight: bold;
  }

</style>
<nav class="navbar">

  <h1 class="navbar-title", style="position: absolute;">Home</h1>
  <p style="color: green"><%= notice %></p>

  <% if current_user.type == 'Hr' %>

  <div class="navbar-buttons">
    <%= button_to "Register Employee",new_user_path, method: :get, class: "btn btn-outline-light btn-lg px-5", id: 'btn' %>
    <%= button_to "Events", events_path, method: :get, class: "btn btn-outline-light btn-lg px-5", id: 'btn' %>
    <%= button_to "Holidays",holidays_path, method: :get, class: "btn btn-outline-light btn-lg px-5", id: 'btn' %>
    <%= button_to "Leave Requests",all_leave_request_path, method: :get, class: "btn btn-outline-light btn-lg px-5", id: 'btn' %>
    <%= button_to "Log out",destroy_user_session_path,method: :delete , class: "btn btn-outline-light btn-lg px-5", id: 'btn'%>
  </div>

  <% elsif current_user.type == 'Employee' %>

  <div class="navbar-buttons">
    <%= button_to "Apply Leave", new_leave_request_path, method: :get, class: "btn btn-outline-light btn-lg px-5", id: 'btn' %>
    <%= button_to "Leave History", history_path, method: :get, class: "btn btn-outline-light btn-lg px-5", id: 'btn' %>
    <%= button_to "Holidays",holidays_path, method: :get, class: "btn btn-outline-light btn-lg px-5", id: 'btn' %>
    <%= button_to "Events",events_path, method: :get, class: "btn btn-outline-light btn-lg px-5", id: 'btn' %>
  <%= button_to "Change Password", edit_user_registration_path, method: :get, class: "btn btn-outline-light btn-lg px-5", id: 'btn' %>

    <%= button_to "Log out", destroy_user_session_path,method: :delete, class: "btn btn-outline-light btn-lg px-5", id: 'btn' %>
  </div>

  <% end %>

</nav>
<% if current_user.type == 'Hr' %>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Joining</th>
      <th scope="col">Role</th>
      <th scope="col">Salary</th>
      <th scope="col">Balance</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td scope="row"><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.joining_date %></td>
      <td><%= user.role %></td>
      <td><%= user.salary %></td>
      <td><%= user.balance %></td>
      <td><%= link_to "View", user_path(user) %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% elsif current_user.type == 'Employee' %>
<div id='emp'>
  <span> Name :- </span><%= current_user.name %> <br>
  <span> Email :- </span><%= current_user.email %> <br>
  <span> Join Date :- </span><%= current_user.joining_date %> <br>
  <span> Role :- </span><%= current_user.role %> <br>
  <span> Salary :- </span><%= current_user.salary %> <br>
  <span> Leave Balance :- </span><%= current_user.balance %> <br>
</div>
<% end %>
