<h1>Users#hr</h1>

<%= button_to "All Employees",users_path, method: :get %>
<%= button_to "Register Employee",new_user_path, method: :get %>
<%= button_to "All Events", events_index_path, method: :get %>
<%= button_to "Create Event",events_new_path, method: :get %>
<%= button_to "Log_out","/logout",method: :delete %>

