<div style = "color:Green"> <%= flash[:created] %> </div>
<h1>Users#index</h1>
<head>
  <style>
    table {
      border: 1px solid black;
    }
    th {
      border: 1px solid black;
    }
    td {
      border: 1px solid black;
    }
  </style>
</head>
<table style="border: 1px solid black;  ">
  <thead>
    <tr>
      <th>name</th>
      <th>email</th>
      <th>joining_date</th>
      <th>role</th>
      <th>salary</th>
      <th>balance</th>
      <th>type</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.joining_date %></td>
        <td><%= user.role %></td>
        <td><%= user.salary %></td>
        <td><%= user.balance %></td>
        <td><%= user.type %></td>
        <td><%= link_to "View", user_path(user) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= button_to "Register Employee",new_user_path, method: :get %>
<%= button_to "Home",home_path, method: :get %>
