<h1>Users#show</h1>
<span> Name :- </span><%= @user.name %> <br>
<span> Email :- </span><%= @user.email %> <br>
<span> Join Date :- </span><%= @user.joining_date %> <br>
<span> Role :- </span><%= @user.role %> <br>
<span> Salary :- </span><%= @user.salary %> <br>
<span> Balance :- </span><%= @user.balance %> <br>
<%= button_to "Delete", user_path(@user), method: :delete %> <br>
<%= button_to "Home",home_path, method: :get %>
