<head>
  <style>
    @media (min-width: 1025px) {
      .h-custom {
        height: 110vh !important;
      }
    }

    #event {
      margin-left: 100px;
    }
    #links {
      padding-top: 10px;
    }
    .join {
      position: absolute;
      left: 50px;
    }
  </style>
</head>
<section class="h-100 h-custom" style="background-color: #343a40;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
          class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
          alt="Sample photo">
          <div class="card-body p-4 p-md-5 mb-5">
            <h3 class="mb-4 pb-3 pb-md-1 px-md-2">Change Your Password</h3>


          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put },class: "px-md-2") do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <%= f.hidden_field :reset_password_token %>

            <div class="form-outline mb-4">
              <%= f.label :password, "New password", class: "form-label" %><br />
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em><br />
              <% end %>
              <%= f.password_field :password, autofocus: true, autocomplete: "new-password",class: "form-control" %>
            </div>
<!--
            <div class="form-outline mb-4">
              <s= f.label :password_confirmation, "Confirm new password", class: 'form-label' %><br />
              <s= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
            </div> -->

            <div class="actions">
              <%= f.submit "Change my password", class: "btn btn-success btn-lg mb-1", id: 'event' %>
            </div>
          <% end %>
          <div align="center" id="links">
            <%= render "devise/shared/links" %>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
