<head>
  <style>
    p {
        color: #fff;
        background-color: #343a40;
        text-align: center;
        padding: 15px;
        margin-bottom: 0px;
        font-size: 150%;
        font-weight: bold;
    }
    #event {
      position: absolute;
      top: 10px;
      right: 15px;

    }
    #home {
      position: absolute;
      top: 10px;
      left: 15px;
    }
    #home, #event{
      padding-left: 1rem!important;
      padding-right: 1rem!important;
    }
  </style>
</head>

<p>Events</p>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">name</th>
      <th scope="col">date</th>
      <th scope="col">description</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td scope="row"><%= event.id %></td>
        <td><%= event.name %></td>
        <td><%= event.date %></td>
        <td><%= event.description %></td>
        <% if  current_user.type == 'Hr' %>
        <td><%= link_to "View", event_path(event) %> </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= button_to "Create event", new_event_path, method: :get, class: "btn btn-outline-light btn-lg px-5",id: 'event' if current_user.type == 'Hr' %>
<%= button_to "Home", root_path, method: :get, class: "btn btn-outline-light btn-lg px-5",id: 'home' %>

<div style = "color:Green"> <%= flash[:created] %> </div>
